extends index.pug

block content

  #dash-commands
    #commands
      h3 Commands
      each query, index in queries
        a(href=`/explorer?pathname=${query.path}${encodeURIComponent(query.param)}`) #{query.label}

    #result
      .request
        .lbl Request made to this API:
        if active
          .url /#{active.path}#{active.param}
        else
          .url Nothing yet
      if content
        pre !{JSON.stringify(content, null, 2)}
      else
        pre Choose a query
    


